<!-- 하단 시작 { -->
<div id="ft">
    <div id="ft_wr">
        <div id="ft_link" class="ft_cnt">
            <a href="/content/company">회사소개</a>
            <a href="/content/privacy">개인정보처리방침</a>
            <a href="/content/provision">서비스이용약관</a>
            <% if (locals.g5_device_change_url) { %>
            <a href="<%= locals.g5_device_change_url %>">모바일버전</a>
            <% } %>
        </div>
        <div id="ft_company" class="ft_cnt">
		<h2>사이트 정보</h2>
	        <p class="ft_info">
			회사명 : <%= locals.company_name || '회사명' %> / 대표 : <%= locals.company_owner || '대표자명' %><br>
				주소  : <%= locals.company_address || 'OO도 OO시 OO구 OO동 123-45' %><br>
				사업자 등록번호  : <%= locals.company_saupja_no || '123-45-67890' %><br>
				전화 :  <%= locals.company_tel || '02-123-4567' %>  팩스  : <%= locals.company_fax || '02-123-4568' %><br>
				통신판매업신고번호 :  <%= locals.tongsin_no || '제 OO구 - 123호' %><br>
				개인정보관리책임자 :  <%= locals.info_name || '정보책임자명' %><br>
			</p>
	    </div>
        <% if (locals.latest_notice && latest_notice.length > 0) { %>
        <div id="ft_notice" class="ft_cnt">
            <h2>공지사항</h2>
            <ul>
                <% latest_notice.forEach(function(notice) { %>
                    <li><a href="<%= notice.href %>"><%= notice.subject %></a></li>
                <% }); %>
            </ul>
        </div>
        <% } %>

        <% if (locals.visit_stats) { %>
        <div id="ft_visit" class="ft_cnt">
            <h2>접속자집계</h2>
            <ul>
                <li>오늘: <%= locals.visit_stats.today || 0 %></li>
                <li>어제: <%= locals.visit_stats.yesterday || 0 %></li>
                <li>최대: <%= locals.visit_stats.max || 0 %></li>
                <li>전체: <%= locals.visit_stats.total || 0 %></li>
            </ul>
        </div>
        <% } %>
    </div>
    <!-- <div id="ft_catch"><img src="/img/ft_logo.png" alt="GNUBOARD5"></div> -->
    <div id="ft_copy">Copyright &copy; <b><%= locals.domain || '소유하신 도메인' %>.</b> All rights reserved.</div>

    <button type="button" id="top_btn">
	<i class="fa fa-arrow-up" aria-hidden="true"></i><span class="sound_only">상단으로</span>
    </button>
    <script>
    $(function() {
        $("#top_btn").on("click", function() {
            $("html, body").animate({scrollTop:0}, '500');
            return false;
        });
    });
    </script>
</div>

<% if (locals.g5_device_button_display && !locals.isMobile) { %>
    <!-- <a href="<%= locals.g5_device_change_url %>" id="device_change">모바일 버전으로 보기</a> -->
<% } %>
