<!-- 상단 시작 { -->
<div id="hd">
    <h1 id="hd_h1"><%= locals.g5_title || '홈페이지 제목' %></h1>
    <div id="skip_to_container"><a href="#container">본문 바로가기</a></div>

    <% if (locals.is_index) { %>
        <!-- include G5_BBS_PATH.'/newwin.inc.php'; // 팝업레이어 -->
        <%# EJS에서 PHP include를 직접 실행할 수 없으므로, 팝업 로직은 별도 구현 필요 %>
        <% if (locals.newwin) { %>
            <%- locals.newwin %>
        <% } %>
    <% } %>
    <div id="tnb">
        <div class="inner">
            <% if (!locals.g5_community_use || locals.g5_community_use) { %>
		<ul id="hd_define">
			<li class="active"><a href="<%= locals.g5_url || '/' %>">커뮤니티</a></li>
                <% if (locals.g5_use_shop) { %>
			<li><a href="<%= locals.g5_shop_url || '/shop' %>">쇼핑몰</a></li>
                <% } %>
		</ul>
            <% } %>
			<ul id="hd_qnb">
	            <li><a href="<%= locals.g5_bbs_url || '/bbs' %>/faq.php">FAQ</a></li>
	            <li><a href="<%= locals.g5_bbs_url || '/bbs' %>/qalist.php">Q&A</a></li>
	            <li><a href="<%= locals.g5_bbs_url || '/bbs' %>/new.php">새글</a></li>
	            <li><a href="<%= locals.g5_bbs_url || '/bbs' %>/current_connect.php" class="visit">접속자
                    <strong class="visit-num"><%= locals.connect_count || 0 %></strong></a>
                </li>
	        </ul>
		</div>
    </div>
    <div id="hd_wrapper">

        <div id="logo">
            <a href="<%= locals.g5_url || '/' %>"><img src="/img/logo.png" alt="<%= locals.config_cf_title || '로고' %>"></a>
        </div>

        <div class="hd_sch_wr">
            <fieldset id="hd_sch">
                <legend>사이트 내 전체검색</legend>
                <form name="fsearchbox" method="get" action="<%= locals.g5_bbs_url || '/bbs' %>/search.php" onsubmit="return fsearchbox_submit(this);">
                <input type="hidden" name="sfl" value="wr_subject||wr_content">
                <input type="hidden" name="sop" value="and">
                <label for="sch_stx" class="sound_only">검색어 필수</label>
                <input type="text" name="stx" id="sch_stx" maxlength="20" placeholder="검색어를 입력해주세요">
                <button type="submit" id="sch_submit" value="검색"><i class="fa fa-search" aria-hidden="true"></i><span class="sound_only">검색</span></button>
                </form>

                <script>
                function fsearchbox_submit(f) {
                    var stx = f.stx.value.trim();
                    if (stx.length < 2) {
                        alert("검색어는 두글자 이상 입력하십시오.");
                        f.stx.select();
                        f.stx.focus();
                        return false;
                    }
                    // 검색에 많은 부하가 걸리는 경우 이 주석을 제거하세요.
                    var cnt = 0;
                    for (var i = 0; i < stx.length; i++) {
                        if (stx.charAt(i) == ' ')
                            cnt++;
                    }
                    if (cnt > 1) {
                        alert("빠른 검색을 위하여 검색어에 공백은 한개만 입력할 수 있습니다.");
                        f.stx.select();
                        f.stx.focus();
                        return false;
                    }
                    f.stx.value = stx;
                    return true;
                }
                </script>
            </fieldset>
            <% if (locals.popular_keywords && popular_keywords.length > 0) { %>
                <div id="hd_pop">
                    <h2>인기검색어</h2>
                    <ul>
                        <% popular_keywords.forEach(function(keyword) { %>
                            <li><a href="<%= locals.g5_bbs_url || '/bbs' %>/search.php?sfl=wr_subject||wr_content&sop=and&stx=<%= keyword.pp_word %>"><%= keyword.pp_word %></a></li>
                        <% }); %>
                    </ul>
                </div>
            <% } %>
        </div>
        <ul class="hd_login">
            <% if (locals.is_member) { %>
            <li><a href="<%= locals.g5_bbs_url || '/bbs' %>/member_confirm.php?url=<%= locals.g5_bbs_url || '/bbs' %>/register_form.php">정보수정</a></li>
            <li><a href="<%= locals.g5_bbs_url || '/bbs' %>/logout.php">로그아웃</a></li>
            <% if (locals.is_admin) { %>
            <li class="tnb_admin"><a href="<%= locals.g5_admin_url || '/adm' %>">관리자</a></li>
            <% } %>
            <% } else { %>
            <li><a href="<%= locals.g5_bbs_url || '/bbs' %>/register.php">회원가입</a></li>
            <li><a href="<%= locals.g5_bbs_url || '/bbs' %>/login.php">로그인</a></li>
            <% } %>
        </ul>
    </div>

    <%- include('navigation') %>
</div>
<!-- } 상단 끝 -->
<hr>
